<label for="gist_gist_files_attributes_name">Name</label>
<input id="gist_gist_files_attributes_name"
       name="gist[gist_files_attributes][][name]">
<label for="gist_gist_file_attributes_name">Body</label>
<input id="gist_gist_files_attributes_body"
       name="gist[gist_files_attributes][][body]" >
<br>